<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="bootstrap.min.js"></script>
  <script src="jquery-3.4.1.min.js"></script>
  <script src="bootstrap.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
	<link rel="stylesheet" href="blog.css">
  <link rel="stylesheet" href="font-awesome.css">
</head>
<body class="bg-light">
  <div id="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="container">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#Navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="#" class="navbar-brand"><h3></h3></a>
        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#" class="nav-link text-white"><h5>News & Facts</h5></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><h5>Python</h5></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><h5>PHP</h5></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><h5>SQL</h5></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><h5>JavaScript</h5></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><h5>jQuery</h5></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><h5>Bootstrap</h5></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><h5>Linux</h5></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><h5>CSS3</h5></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><h5>HTML</h5></a></li>
          </ul>
        </div>
      </div>
      <form class="form-inline d-none d-lg-block" action="#" onsubmit="return myfunction ();">
        <input class="form-control mr-sm-2" type="text" placeholder="Search...">
        <button class="btn btn-info btn-outline-light" type="submit">Search</button>
      </form>
    </nav>
  </div>
  <div>
    <div style="height: 65px;">
    </div>
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark" class="bk-img" style="background-image: url(images/command.png)">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Linux command line tutorials</h1>
        <p class="lead my-3">.</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static bg-dark text-white">
          <strong class="d-inline-block mb-2 text-primary">Linux</strong>
          <h3 class="mb-0">Linux command line <br>part 1:</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          {% include icons/placeholder.svg width="200" height="250" background="#55595c" color="#eceeef" text="Thumbnail" %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static bg-dark text-white">
          <strong class="d-inline-block mb-2 text-success">Linux</strong>
          <h3 class="mb-0">Troubleshooting common linux problems</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          {% include icons/placeholder.svg width="200" height="250" background="#55595c" color="#eceeef" text="Thumbnail" %}
        </div>
      </div>
    </div>
  </div>
    <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static bg-dark text-white">
          <strong class="d-inline-block mb-2 text-primary">Linux</strong>
          <h3 class="mb-0">How to install UBUNTU Server in VM?</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          {% include icons/placeholder.svg width="200" height="250" background="#55595c" color="#eceeef" text="Thumbnail" %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static bg-dark text-white">
          <strong class="d-inline-block mb-2 text-success">Linux</strong>
          <h3 class="mb-0">How to fully update and upgrade Debian linux?</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          {% include icons/placeholder.svg width="200" height="250" background="#55595c" color="#eceeef" text="Thumbnail" %}
        </div>
      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        From the Firehose
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Top 5 programming languages for 2019</h2>
        <p class="blog-post-meta">October 8, 2019 by <a href="#">YMK</a></p>

        <p>This a post about the 5 best programming languages and explains why they are best.</p>
        <hr>
        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <h2>Heading</h2>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <pre><code>Example code block</code></pre>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
        <ol>
          <li>Vestibulum id ligula porta felis euismod semper.</li>
          <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
          <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
        </ol>
        <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">Best text editors in 2019</h2>
        <p class="blog-post-meta">October 8, 2019 by <a href="#">YMK</a></p>

        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">New feature</h2>
        <p class="blog-post-meta">October 9, 2019 by <a href="#">Yoga</a></p>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
      </div><!-- /.blog-post -->

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2018</a></li>
          <li><a href="#">February 2018</a></li>
          <li><a href="#">January 2018</a></li>
          <li><a href="#">December 2018</a></li>
          <li><a href="#">November 2018</a></li>
          <li><a href="#">October 2018</a></li>
          <li><a href="#">September 2018</a></li>
          <li><a href="#">August 2018</a></li>
          <li><a href="#">July 2018</a></li>
          <li><a href="#">June 2018</a></li>
          <li><a href="#">May 2018</a></li>
          <li><a href="#">April 2018</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->
<footer class="blog-footer">
  <p>Blogging site <a href="http://www.megacore.cf/">megacore.cf</a> by <a href="https://twitter.com/">@Mega</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
</body>



